/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .sec-slid:after {
    display: none; }

  .sect-things {
    padding: 80px 0; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .sect-testimonials .wrap-item {
    text-align: center; }
  .sect-testimonials .wrap-img {
    float: none;
    display: inline-block; }
  .sect-testimonials .wrap-text {
    padding: 5px 5%; }
    .sect-testimonials .wrap-text p {
      line-height: 27px; }

  .sec-text {
    padding: 40px 0; }
    .sec-text h2 {
      text-align: center;
      margin: 0; }
    .sec-text .wrap-img {
      margin: 0 0 30px; }
    .sec-text img {
      width: 60%; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .top-nav {
    display: none;
    width: auto;
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 2;
    background-color: #31302f;
    opacity: 0.9; }
    .top-nav li {
      display: block;
      padding: 0; }
    .top-nav a {
      width: 100%;
      display: block;
      padding: 5px 20px; }
    .top-nav a:hover, .top-nav a:active, .top-nav a:focus {
      color: #fa8500; }

  .sec-slid .owl-nav > div {
    height: 30px;
    width: 16px; }
  .sec-slid .owl-nav .owl-next {
    background-position: 48px 0; }

  .toggle-mnu {
    display: block; }

  .sect-things {
    padding: 40px 0; }

  .sect-portfolio {
    padding: 40px 0 80px; }

  .sect-about {
    padding: 40px 0 0; }

  .sect-testimonials {
    padding: 40px 0 80px; }

  .sec-posts {
    padding: 25px 0 100px; }

  .sec-features {
    padding: 80px 0; }

  /*Disable Animation on Mobile Devices */
  .animated {
    /*CSS transitions */
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms */
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations */
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .section-bg {
    display: none; }

  .sec-slid {
    padding: 10px 0 25px; }
    .sec-slid .title {
      font-size: 25px;
      margin: 20px 10px; }

  .portfolio-item {
    width: 100%; }

  .sect-portfolio li {
    padding: 0 5px;
    font-size: 13px; }

  .sec-text {
    padding: 10px 0; }

  .sec-features .col-xs-6 {
    width: 100%; }
  .sec-features p {
    margin: 0 0 5px; }
  .sec-features h4 {
    margin: 0; } }
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */ }
/*==========  Mobile First Method  ========== */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */ }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */ }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* */ }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* */ }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  a {
    outline: none; } }
